//colors
$primary-color: #000000;
$secondary-color: #ffffff;
$dashboard-bg-color: #f1f3f7f4;
$dashboard-sidebar-bg-color: #E6F6FF;
$dashboard-sidebar-font-color: #002159;
$dashboard-timer-color: #002159e9;
//fonts
$primary-font: 'Poppins', sans-serif;